<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>AdminLTE 2 | Starter</title>
		<!-- Tell the browser to be responsive to screen width -->
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<!-- Bootstrap 3.3.6 -->
		<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
		<!-- Font Awesome -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
		<!-- Ionicons -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
		<!-- Theme style -->
		<link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
		<!-- AdminLTE Skins. We have chosen the skin-blue for this starter
        page. However, you can choose any other skin. Make sure you
        apply the skin class to the body tag so the changes take effect.
  -->
		<link rel="stylesheet" href="/dist/css/skins/skin-blue.min.css">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
	</head>
	<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->

	<body class="hold-transition skin-blue sidebar-mini">
		<div class="wrapper">
			<%- include('./header.ejs') %>
			<%- include('./menu.ejs') %>
			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<!-- Content Header (Page header) -->
				<section class="content-header">
					<h1>
			        	轮播图管理
			       		<small>Optional description</small>
			     	</h1>
					<ol class="breadcrumb">
						<li>
							<a href="#"><i class="fa fa-dashboard"></i> Level</a>
						</li>
						<li class="active">Here</li>
					</ol>
				</section>
				<!-- Main content -->
				<section class="content">
					<div class="box-body">
						<table class="table table-bordered text-center">
							<tbody class="text-center">
								<tr>
									<th style="width: 50px">序号</th>
									<th>图片ID</th>
									<th>图片</th>
									<th>图片高度</th>
									<th>图片宽度</th>
									<th>图片主题</th>
									<th>图片地址</th>
									<th style="width: 100px">操作</th>
								</tr>
								<div class="" style="height: 40px;">
									<a href="/cart/add?totalNumber=<%- totalNumber %>&pageNumber=<%- pageNumber %>">
										<button class="glyphicon glyphicon-plus btn-primary btn  pull-left">添加图片信息</button>	
									</a>
									 <div class="input-group pull-left" style="width: 200px;margin-left: 15px;">
								        <div class="input-group-addon">
								          <span class=" glyphicon glyphicon-search"></span>
								        </div>
								        <input type="text" style="height: 36px;" class="form-control" id="searchTxt" placeholder="输入主题搜索" onchange="searchFn(<%- pageNumber %>,<%- pageCode %>)">
								    </div>
						             <a href="/cart/sort?sortType=height&num=1" >
						             	<button class="glyphicon glyphicon-arrow-up btn-success btn pull-left"  style="margin:0px 20px 0 20px;"> 高度升序</button>
						             </a>
	         						 <a href="/cart/sort?sortType=height&num=-1">
	         						 	<button class="glyphicon glyphicon-arrow-down btn-success btn pull-left" style="margin:0px 20px 0 0;"> 高度降序</button>
	         						 </a>
									<a href="/cart/allremove">
										
										<button class="glyphicon glyphicon-trash btn-danger btn pull-right" style="margin:0px 5px 0 0;">数据清空</button>
									</a>
									<a href="/cart/exportexcel">
										<button class="glyphicon glyphicon-log-out btn-primary btn pull-right" style="margin:0px 5px 0 0;">导出数据</button>	
									</a>
									<a href="/cart/importexcelxlsx">
										<button class="glyphicon glyphicon-log-in btn-primary btn pull-right" style="margin:0px 5px 0 0;">导入数据</button>	
									</a>
								</div>
								<div class="input-group" style="height: 40px;">
							     	<h4 class="pull-left" style="margin:8px 10px 0 0px;">按宽度查询</h4>
								   
								     <% for(var i = 0; i < widthArr.length; i++) { %>
								      	<div class="pull-left text-center" style="height: 20px; margin-left: 10px; margin-top: 8px; border-radius: 5px; background: skyblue; padding:0px 10px 0 10px;" >
						               	 <a href="/cart/widthSearch?width=<%- widthArr[i] %>"><%- widthArr[i] %></a>
						            	</div>
						             <% } %>
							     </div>
								<% for(var i=0 ;i<data.length; i++) { %>
								<tr>
									<td><%- i+1 %></td>
									<td><%- data[i].id %></td>
									<td><img src="<%- data[i].img %>" style=" display: inline-block; width: 200px; height: 50px;"/></td>
									<td><%- data[i].height  %></td>
									<td><%- data[i].width  %></td>
									<td><%- data[i].name  %></td>
									<td><%- data[i].img  %></td>
									<td>
											<button class="glyphicon glyphicon-pencil btn btn-xs btn-warning" onclick="show('<%- data[i].id %>','<%- data[i].img %>','<%- data[i].height %>','<%- data[i].width %>','<%- data[i].name %>')"></button>
										<a href="/cart/remove?id=<%- data[i].id %>&pageCode=<%- pageCode %>&pageNumber=<%- pageNumber %>">
											<button class="glyphicon glyphicon-trash btn-danger btn btn-xs"></button>	
										</a>
									</td>
								</tr>
								<% } %>		
							</tbody>
						</table>
					</div>
					<!-- Your Page Content Here -->
 <div class="box-footer clearfix">
              <div class="pull-left">
                每页显示<input type="text" id="num" value="<%- pageNumber %>" onchange="showData()">个
              </div>
              <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="#">«</a></li>
                <% for(var i = 0; i < totalNumber; i++) { %>
                  <li class="<%- pageCode === i + 1 ? 'active' : '' %>">
                  	<% if(type == 'search') { %>
                  	<a href="/cart/<%- type %>?pageCode=<%- i + 1 %>&pageNumber=<%- pageNumber %>&name=<%- name %>"><%- i + 1 %></a>
                  	<% } else { %>
                  	<a href="/cart?pageCode=<%- i + 1 %>&pageNumber=<%- pageNumber %>"><%- i + 1 %></a>
                  	<% } %>
                  </li>
                <% } %>
                <li><a href="#">»</a></li>
              </ul>
            </div>
          </div>
				</section>
				<!-- /.content -->
			</div>
			
			<!-- /.content-wrapper -->
			<%- include('./footer.ejs') %>
			<!-- Control Sidebar -->
			<%- include('./menu.ejs') %>
		</div>
		<!-- ./wrapper -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">更新数据</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" action="/cart/updateAction" method = "post">
                      <div class="box-body">
						<div class="form-group">
							<label for="id" class="col-sm-2 control-label">图片ID</label>
							<div class="col-sm-10">
								<input type="text" readonly class="form-control" name="id" id="id" placeholder="图片ID">
							</div>
        				</div>
                        <div class="form-group">
                          <label for="height" class="col-sm-2 control-label">图片高度</label>
        
                          <div class="col-sm-10">
                            <input type="text" readonly class="form-control" name="height" id="height" placeholder="图片高度">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="width" class="col-sm-2 control-label">图片宽度</label>
        
                          <div class="col-sm-10">
                            <input type="text" readonly class="form-control" name="width" id="width" placeholder="图片宽度">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="name" class="col-sm-2 control-label">图片主题</label>
        
                          <div class="col-sm-10">
                            <input type="text" class="form-control" name="name" id="name" placeholder="图片主题">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="img" class="col-sm-2 control-label">图片地址</label>
        
                          <div class="col-sm-10">
                            <input type="text" readonly class="form-control" name="img" id="img" placeholder="图片地址">
                          </div>
                        </div>
                        <div class="form-group hidden">
                          <label for="pageCode" class="col-sm-2 control-label">页码</label>
        
                          <div class="col-sm-10">
                            <input type="text" class="form-control" name="pageCode" id="pageCode" placeholder="页码" value="<%- pageCode %>">
                          </div>
                        </div>
                         <div class="form-group hidden">
                          <label for="pageNumber" class="col-sm-2 control-label">数据条数</label>
        
                          <div class="col-sm-10">
                            <input type="text" class="form-control" name="pageNumber" id="pageNumber" placeholder="数据条数" value="<%- pageNumber %>">
                          </div>
                        </div>
                      </div>
                      <!-- /.box-body -->
                      <div class="box-footer">
                        <button type="submit" class="btn btn-info pull-right">更新</button>
                      </div>
                      <!-- /.box-footer -->
                    </form>
      </div>
    </div>
  </div>
</div>
		<!-- REQUIRED JS SCRIPTS -->

		<!-- jQuery 2.2.3 -->
		<script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
		<!-- Bootstrap 3.3.6 -->
		<script src="/bootstrap/js/bootstrap.min.js"></script>
		<!-- AdminLTE App -->
		<script src="/dist/js/app.min.js"></script>
		<script>
			function show(id,img,height,width,name) {
				$('#myModal').modal()
				$('#id').val(id)
				$('#img').val(img)
				$('#height').val(height)
				$('#width').val(width)
				$('#name').val(name)
			}
			function showData(){
				location.href = '/cart?pageNumber=' + $('#num').val()
			}
			function searchFn(pageNumber,pageCode){
				let name=$('#searchTxt')
				location.href = '/cart/search?pageNumber=' + pageNumber +'&pageCode='+ pageCode +'&name=' + name.val()
			}
		</script>
	</body>
</html>